hr {
  margin: 40px 0
}

#location h1 {
  font-size: 40px;
  text-align: center
}

.address {
  text-align: center;
  margin: 30px 0 50px
}

.address a {
  color: inherit
}

.gmap-wrapper iframe {
  max-width: 100%
}

#follow-us {
  padding: 40px 0;
  text-align: center;
  margin-bottom: 30px;
  opacity: 0;
}

#follow-us.la {
  background-image: url("../img/la-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 60%;
}
#follow-us.bp {
  background-image: url("../img/bp-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 50%;
}
.follow-us-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.75);
}
#follow-us h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #f55733;
  text-shadow: 1px 1px 2px #555;
}

#follow-us p {
  color: #333;
}

#follow-us i {
  font-size: 26px;
  color: white
}

#follow-us a {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 50%;
  opacity: .7;
  margin: 10px 5px
}

#follow-us a:hover {
  opacity: 1
}

#follow-us a:first-of-type {
  background-color: #e1306c
}

#follow-us a:nth-of-type(2) {
  background-color: #3b5998
}

#follow-us a:nth-of-type(3) {
  background-color: #d32323
}

#image-wrapper {
  text-align: center
}

#image-wrapper img {
  height: 300px;
  width: 300px;
  -o-object-fit: cover;
  object-fit: cover
}

button {
  outline: 0;
  background: 0;
  border: 2px solid #f55733;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: .25s linear;
  transition: .25s linear;
  margin: 60px auto
}

button>a {
  color: #f55733;
  display: block;
  text-decoration: none;
  padding: 10px 30px;
  -webkit-transition: .25s linear;
  transition: .25s linear
}

button:hover {
  background: #f55733;
  color: white;
  -webkit-transition: .25s linear;
  transition: .25s linear
}

button:hover a {
  color: white;
  -webkit-transition: .25s linear;
  transition: .25s linear
}

@media screen and (max-width:689px) {
  #image-wrapper {
    overflow: hidden;
    height: 300px;
    width: 300px;
    text-align: left;
    margin: auto
  }
  #image-wrapper img {
    float: left;
    position: relative;
    -webkit-transition: .5s;
    transition: .5s
  }
  .fa.fa-hand-pointer-o {
    -webkit-animation: swipe 2s ease-out infinite;
    animation: swipe 2s ease-out infinite
  }
  @-webkit-keyframes swipe {
    from {
      opacity: 0;
      -webkit-transform: translateX(0);
      transform: translateX(0)
    }
    50% {
      opacity: 1;
      -webkit-transform: translateX(-40%);
      transform: translateX(-40%)
    }
    75% {
      opacity: 0;
      -webkit-transform: translateX(-40%);
      transform: translateX(-40%)
    }
    to {
      opacity: 0
    }
  }
  @keyframes swipe {
    from {
      opacity: 0;
      -webkit-transform: translateX(0);
      transform: translateX(0)
    }
    50% {
      opacity: 1;
      -webkit-transform: translateX(-40%);
      transform: translateX(-40%)
    }
    75% {
      opacity: 0;
      -webkit-transform: translateX(-40%);
      transform: translateX(-40%)
    }
    to {
      opacity: 0
    }
  }
}
