/* stylesheet concerning multiple pages
such as font, header, footer, uniform section layout, etc */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  user-select: none;
}
body.scrollDisabled {
  position: relative;
  overflow-y: hidden;
}
.menu-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  z-index: 9998;
  display: none;
}
/* header and navbar stylesheet */
header {
  /* -webkit-box-shadow: 1px 1px 4px #999;
          box-shadow: 1px 1px 4px #999; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 20px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: rgba(255,255,255,0.8);
}
#header-logo {
  height: 80px;
  transition: 0.25s ease-in-out;
  opacity: 0;
}
#header-logo img {
  height: 100%;
}

navbar ul, #menuList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
navbar a {
  text-decoration: none;
  color: #777;
  padding: 12px 15px;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
  z-index: 9999;
  font-size: 14px;
}
navbar a:hover {
  border-bottom: 2px solid orange;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
  color: black;
}
navbar a.current {
  color: black;
  border-bottom: 2px solid orange;
}
.location-list a.current {
  border: none !important;
}
.location-list a:hover {
  background-color: rgba(200, 200,200, 0.75) !important;
  border-bottom: none;
  transition: all 0.25s linear;
}
.location-list a.white-background {
  background-color: rgba(255,255,255,1);
}
.location-list a.white-background:hover {
  background-color: rgba(200,200,200,1) !important;
  transition: 0.25s linear;
}
.location-tab:hover>a {
  color: black;
}
.location-list {
  flex-direction: column;
  position: absolute;
  background-color: rgba(0,0,0,0);
  z-index: 9998;
  top: 44px;
  padding-top: 40px;
  cursor: pointer;
  display: none;
  transition: top 0.25s ease-in-out;
}
.location-list a {
  background-color: rgba(255,255,255,0.8);
  display: block;
  padding: 10px 10px 10px 30px !important;
  text-align: right;
}


menubar {
  cursor: pointer;
  display: none;
}
.menubarIcon {
  height: 5px;
  width: 36px;
  background-color: #333;
  margin: 5px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
#menuList {
  display: none;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  top: 64px;
  text-align: right;
  /* border: 1px solid black; */
  /* -webkit-box-shadow: 1px 1px 4px #999;
          box-shadow: 1px 1px 4px #999; */
  width: 100%;
  z-index: 9999;
  transition: top 0.5s;
}
#menuList a {
  text-decoration: none;
  color: #999;
  display: block;
  padding: 15px 20px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#menuList a.current {
  background-color: #eee;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  color: black;
}
#menuList a.expanded {
  color: black;
  transition: 0.5s ease-in-out;
}

.location-menu {
  list-style: none;
  padding: 0;
  display: none;
}
.location-menu a {
  padding: 15px 40px !important;
}

.menubarIcon:first-child.change {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transform: rotate(45deg) translate(8px, 5px) scale(1.2);
          transform: rotate(45deg) translate(8px, 5px) scale(1.2);
}
.menubarIcon:nth-child(2).change {
  opacity: 0;
}
.menubarIcon:nth-child(3).change {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transform: rotate(-45deg) translate(8px, -6px) scale(1.2);
          transform: rotate(-45deg) translate(8px, -6px) scale(1.2);
}

@media screen and (max-width: 960px) {
  navbar {
    display: none;
  }
  menubar {
    display: block;
  }
}
#whitespace-header {
  height: 84px;
  transition: 0.25s ease-in-out;
}

/* banner */
#small-banner {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 380px;
  opacity: 0;
}
#small-banner-overlay {
  width:100%;
  height: 100%;
  /* background-color: rgba(255,255,255,0.2); */
}

@media screen and (max-width: 768px) {
  #small-banner {
    height: 250px;
  }
}

/* section */
section {
  padding-bottom: 80px;
  opacity: 0;
  width: 950px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  section {
    width: 90%;
  }
}

/* footer */
footer {
  opacity: 0;
  display: flex;
  background-color: #333;
  color: white;
  padding: 30px 8px 0;
  justify-content: space-between;
  transition: 0.75s ease-in-out;
}
#footer-location {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex: 1;
}
#footer-LA, #footer-BP, #footer-main-office {
  max-width: 250px;
}
footer h3 {
  color: orange;
}
footer h3 {
  padding-bottom: 20px;
}
footer a {
  color: inherit;
}
.footer-hours {
  margin-top: 20px;
  height: 80px;
}
.footer-hours>h4 {
  padding-bottom: 10px;
}
.footer-social-media {
  text-align: left;
  margin-bottom: 20px;
}
.footer-social-media i {
  font-size: 26px;
}
.footer-social-media a {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 50%;
  opacity: 0.5;
  margin: 0 5px;
}
.footer-social-media a:hover {
  opacity: 1;
}
.footer-social-media a:first-child {
  background-color: #e1306c;
}
.footer-social-media a:nth-child(2) {
  background-color: #3B5998;
}
.footer-social-media a:nth-child(3) {
  background-color: #d32323;
}
#footer-copyright {
  text-align: center;
  background-color: #333;
  color: white;
  padding-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  footer {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  #footer-location {
    flex-direction: column;
    align-items: center;
  }
  footer hr {
    display: block !important;
    width: 80%;
    border: 1.2px solid white;
    margin-bottom: 10px;
  }
  #footer-main-office {
    margin-bottom: 20px;
  }
}

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Poppins|Lato|Satisfy|Cabin');
header {
  font-family: 'Roboto Condensed', sans-serif;
}
h1,h2,h3,h4 {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 40px;
  color: #333;
}
h2 {
  font-size: 28px;
}
p,a,li, label  {
  font-family: 'Lato', sans-serif;
}
input[type=text], select, textarea {
  font-size: 20px !important;
  font-family: 'Cabin', sans-serif;
}
select {
  background-color: white;
}
#press>h2 {
  font-family: 'Satisfy', cursive;
  font-weight: lighter;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 34px !important;
  }
  h2 {
    font-size: 24px !important;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 28px !important;
  }
  h2 {
    font-size: 20px !important;
  }
  p {
    font-size: 16px !important;
  }
}
