#small-banner {
  background-image: linear-gradient(rgba(0,0,0, 0) 0%,rgba(255,255,255, 1) 100%), url("../img/faqs-banner.jpg");
  background-position: 50% 75%;
}
#faqs>h1 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 30px;
}
#faqs>p {
  text-align: center;
  font-size: 25px;
  color: #aaa;
}

.accordion-wrapper {
  margin: 50px 0;
  border: 1px solid black;
}
.accordion {
  text-align: left;
  border-bottom: 1px solid black;
}
.accordion-content>p, .accordion-content>ul>li {
  text-align: left !important;
  font-size: 18px;
  line-height: 25px;
  color: #333;
}
.accordion-title {
  color: #f55733;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  text-align: left;
  font-weight: bolder;
}
.accordion-title.active {
  border-bottom: none;
}
.accordion-title:after {
  color: #a1a1a1;
  font-family: FontAwesome;
  content: '\f150';
  font-size: 20px;
  font-weight: 900;
}
.accordion-title.active:after {
  font-family: FontAwesome;
  content: '\f151';
}
.accordion-content {
  padding: 10px 20px;
  display: none;
}
.accordion:last-child{
  border-bottom: none;
}
