#small-banner {
  background-image: url("../img/image.png");
}
body {
  background: orange;
}
section {
  width: 750px;
  margin-bottom: 0;
  padding-bottom: 0;
}
#franchise {
  padding: 150px 10px 60px 10px;
  text-align: center;
  background: white;
}
#franchise>img {
  width: 100%;
  max-width: 500px;
  margin-bottom: 30px;
}
#franchise>h2 {
  font-size: 30px;
  color: #333;
}
#franchise-list {
  text-align: left;
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  font-size: 20px;
  line-height: 35px;
}
#form-wrapper {
  background: rgba(100,100,100,0.2);
  width: 100%;
  max-width: 560px;
  margin: auto;
  padding: 40px 30px 20px 30px;
  border-radius: 8px;
}
#form-wrapper>h3 {
  font-size: 30px;
  padding-bottom: 10px;
}
#form-wrapper>p {
  color: #444;
}
form {
  text-align: center;
  margin: 30px auto;
}
label {
  display: block;
  padding: 8px;
  text-align: left;
  font-size: 18px;
}
input:not(#submit), select, textarea {
  padding: 8px 15px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #bbb;
  width: 100%;
  font-size: 18px;
}
input:not(#submit):focus, select:focus, textarea:focus {
  border: 1px solid black !important;
}
#first {
  width: 45% !important;
}
#last {
  width: 50% !important;
}
textarea {
  height: 160px;
  display: block;
  resize: none;
}
#submit {
  margin-top: 30px;
  padding: 8px 25px;
  font-size: 18px;
  font-weight: bold;
  color: orange;
  background: transparent;
  border: 2px solid orange;
  cursor: pointer;
  outline: none;
  transition: 0.25s;
  border-radius: 15px;
}
#submit:hover {
  color: white;
  background: orange;
  transition: 0.25s;
}
.notValid {
  border: 1px solid red !important;
}
#invalidEmailWrapper {
  display: none;
}
#invalidEmailWrapper>p {
  color: red;
}
#result.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  margin: 10px 0px;
  padding:12px;
  border-radius: 10px;
}
#result.error {
  margin: 10px 0px;
  padding:12px;
  color: #D8000C;
  background-color: #FFD2D2;
  border-radius: 10px;
}
#honeypot {
  display: none;
}
@media screen and (max-width: 768px) {
  section {
    max-width: 100%;
  }
  body {
    background: white;
  }
}
