#small-banner {
  background-image: linear-gradient(rgba(0,0,0, 0) 0%,rgba(255,255,255, 1) 100%), url("../img/press-banner.jpg");
}
#press {
  text-align: center;
}
#press h1 {
  font-size: 40px;
}
#press h2 {
  color: #999;
}
#press hr {
  margin: 30px 0;
}

.press-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.press-row img {
  width: 150px;
  margin: 20px 10px;
}

#video-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,1);
  z-index: 10000;
  display: none;
}
#video-overlay>div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#video-overlay video {
  width: 90%;
  height: auto;
}
#close {
  color: #ccc;
  font-size: 30px;
  align-self: flex-end;
  margin-right: 50px;
  padding: 5px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .press-row img {
    margin: 30px 3px;
  }
}
